body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.container {
  max-width: 600px;
}

.card {
  border: none;
}

.custom-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h5.card-title {
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: none;
}

.btn-primary {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.btn-primary:hover {
  background-color: #45a049;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
}

.error {
  color: #f44336;
}

.success {
  color: #4caf50;
}
